In [13]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
 
data = pd.read_csv("iris.csv")

In [14]:
import numpy as np # linear algebra
import seaborn as sns # visualization
from sklearn.neural_network import MLPClassifier # neural network
from sklearn import metrics

In [15]:
data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
df_norm = data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_norm.sample(n=5)

    sepal.length  sepal.width  petal.length  petal.width
65      0.666667     0.458333      0.576271     0.541667
4       0.194444     0.666667      0.067797     0.041667
41      0.055556     0.125000      0.050847     0.083333
40      0.194444     0.625000      0.050847     0.083333
96      0.388889     0.375000      0.542373     0.500000

In [18]:
df_norm.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       0.428704     0.439167      0.467571     0.457778
std        0.230018     0.180664      0.299054     0.317984
min        0.000000     0.000000      0.000000     0.000000
25%        0.222222     0.333333      0.101695     0.083333
50%        0.416667     0.416667      0.567797     0.500000
75%        0.583333     0.541667      0.694915     0.708333
max        1.000000     1.000000      1.000000     1.000000

In [20]:
target = data[['species']].replace(['setosa','versicolor','virginica'],[0,1,2])
target.sample(n=5)

     species
96         1
0          0
110        2
44         0
55         1

In [21]:
df = pd.concat([df_norm, target], axis=1)
df.sample(n=5)

     sepal.length  sepal.width  petal.length  petal.width  species
19       0.222222     0.750000      0.084746     0.083333        0
91       0.500000     0.416667      0.610169     0.541667        1
46       0.222222     0.750000      0.101695     0.041667        0
128      0.583333     0.333333      0.779661     0.833333        2
53       0.333333     0.125000      0.508475     0.500000        1

In [49]:
train, test = train_test_split(df, test_size = 0.7,random_state=2700 )
trainX = train[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]# taking the training data features
trainY=train.species# output of our training data
testX= test[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']] # taking test data features
testY =test.species   #output value of test data
trainX.head(5)

     sepal.length  sepal.width  petal.length  petal.width
135      0.944444     0.416667      0.864407     0.916667
41       0.055556     0.125000      0.050847     0.083333
92       0.416667     0.250000      0.508475     0.458333
48       0.277778     0.708333      0.084746     0.041667
95       0.388889     0.416667      0.542373     0.458333

In [50]:
trainY.head(5)

135    2
41     0
92     1
48     0
95     1
Name: species, dtype: int64

In [51]:
testX.head(5)

     sepal.length  sepal.width  petal.length  petal.width
110      0.611111     0.500000      0.694915     0.791667
85       0.472222     0.583333      0.593220     0.625000
140      0.666667     0.458333      0.779661     0.958333
91       0.500000     0.416667      0.610169     0.541667
43       0.194444     0.625000      0.101695     0.208333

In [52]:
testY.head(5)

110    2
85     1
140    2
91     1
43     0
Name: species, dtype: int64

In [53]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(2,), random_state=1)
clf.fit(trainX, trainY)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(2,), random_state=1,
              solver='lbfgs')

In [54]:
prediction = clf.predict(testX)
print(prediction)

[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [55]:
print(testY.values)

[2 1 2 1 0 0 0 0 2 0 0 1 0 2 0 2 0 1 2 1 2 1 0 0 2 0 2 1 2 0 2 2 0 0 0 1 1
 2 2 0 0 1 0 2 0 1 2 1 1 0 0 1 0 1 2 1 0 2 2 1 1 2 0 1 2 1 1 2 0 2 2 1 1 1
 1 2 1 0 2 0 1 2 2 1 1 0 1 0 0 1 2 0 1 2 1 1 1 0 0 2 0 2 2 2 1]

In [56]:
print('The accuracy of the Multi-layer Perceptron is:',metrics.accuracy_score(prediction,testY))

The accuracy of the Multi-layer Perceptron is: 0.3238095238095238

In [59]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(3,), random_state=1)
clf.fit(trainX, trainY)

prediction = clf.predict(testX)
print(prediction)

[2 1 2 1 0 0 0 0 2 0 0 1 0 1 0 2 0 1 1 1 2 1 0 0 2 0 2 1 2 0 2 2 0 0 0 1 1
 2 1 0 0 1 0 2 0 1 2 2 1 0 0 1 0 1 2 1 0 2 2 1 1 2 0 1 2 1 2 2 0 2 2 1 1 1
 1 2 1 0 2 0 1 2 2 1 1 0 1 0 0 1 2 0 1 2 1 1 1 0 0 2 0 2 2 2 1]

In [60]:
print(testY.values)

[2 1 2 1 0 0 0 0 2 0 0 1 0 2 0 2 0 1 2 1 2 1 0 0 2 0 2 1 2 0 2 2 0 0 0 1 1
 2 2 0 0 1 0 2 0 1 2 1 1 0 0 1 0 1 2 1 0 2 2 1 1 2 0 1 2 1 1 2 0 2 2 1 1 1
 1 2 1 0 2 0 1 2 2 1 1 0 1 0 0 1 2 0 1 2 1 1 1 0 0 2 0 2 2 2 1]

In [61]:

print('The accuracy of the Multi-layer Perceptron is:',metrics.accuracy_score(prediction,testY))

The accuracy of the Multi-layer Perceptron is: 0.9523809523809523

In [62]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(3,2), random_state=1)
clf.fit(trainX, trainY)

prediction = clf.predict(testX)
print(prediction)

[2 1 2 1 0 0 0 0 2 0 0 1 0 2 0 2 0 1 2 1 2 1 0 0 2 0 2 1 2 0 2 2 0 0 0 1 1
 2 2 0 0 1 0 2 0 1 2 2 1 0 0 1 0 1 2 1 0 2 2 1 1 2 0 1 2 1 1 2 0 2 2 1 1 1
 1 2 1 0 2 0 1 2 2 1 1 0 1 0 0 1 2 0 2 2 1 1 1 0 0 2 0 2 1 2 1]

In [63]:
print(testY.values)

[2 1 2 1 0 0 0 0 2 0 0 1 0 2 0 2 0 1 2 1 2 1 0 0 2 0 2 1 2 0 2 2 0 0 0 1 1
 2 2 0 0 1 0 2 0 1 2 1 1 0 0 1 0 1 2 1 0 2 2 1 1 2 0 1 2 1 1 2 0 2 2 1 1 1
 1 2 1 0 2 0 1 2 2 1 1 0 1 0 0 1 2 0 1 2 1 1 1 0 0 2 0 2 2 2 1]

In [64]:

print('The accuracy of the Multi-layer Perceptron is:',metrics.accuracy_score(prediction,testY))

The accuracy of the Multi-layer Perceptron is: 0.9714285714285714